@import '../../../styles/base/_variables.scss';

.tabs {
  height: 13.7vh;
  background: #efeeec;
  display: flex;
  align-items: flex-end;

  >li {
    // margin: 7.4vh 2vw 0;

    a, a:focus {
      color: $dark-gray;
      border: 0;
      background: #efeeec;
      font-size: 2vh;
    }   
  }
  

  >li.active {
    background-color: black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid $blue;
    width: 100%;
    box-shadow: 1rem, 0 1rem $blue;
    
    a, a:focus, a:hover  {
      color: black;
      
    }
  }
}
