@import '../../../styles/base/_variables.scss';

.tabs {
  padding-top: 5.6%;
  background: $light-gray;
  display: flex;
  align-items: flex-end;

  li {
    // margin: 7.4vh 2vw 0;

    a, a:focus {
      color: darken($light-gray, 40%);
      margin-right: 2rem;
      border: 0;
      font-size: 1.5rem;
    }   
  }
  

  li.active {
    background-color: black;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid $blue;
    width: 100%;
    box-shadow: 1rem, 0 1rem $blue;
    
    a, a:focus, a:hover  {
      color: $blue;
      
    }
  }
}
