.avatar {
  width: 50px;
  height: 50px;
  background-size: cover;
  display: inline-block;
  border-radius: 140px;
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  margin-right: 9px;
}

.brownbag-view {
  background-color: whitesmoke
}

.user-info {
  display: inline-grid;
}

.skipped-brown-bag {
  vertical-align: middle;
  background-color: lightgrey;
}

.onlist-brown-bag {
  position: absolute;
  right: 0px;
  width: 300px;
  background-color: whitesmoke;
}

.onlist-title {
  text-align: center;
  color: #222325;
  font-style: black;
}

.mdl-button {
  min-width: 200px;
  margin-left: 50px;
  color: white;
  background-color: dodgerblue;
}

.mdl-button:hover {
  color: white;
  background-color: dodgerblue;
  box-shadow: 3px 3px grey;

}

.settings-button {
  font-size: 300px;
}

.material-icons {
  margin-right: 8px;
}

.shuffle-brown-bag {
  padding-top: 1px;
  padding-left: 25px;
  background-color: lightgrey;
  height: 180px;
}

.mdl-grid {
  width: 100%;
  background-color: #3f51b5;
}

.mdl-layout__header {
  position: absolute;
  width: 80%;
  padding-top: 12px;
  box-shadow: none;
}

.mdl-layout__tab-bar {
  height: 55px;
}

.settings-panel {
  height: 7%;
  overflow: hidden;
  min-height: 7%;
  max-height: 7%;
  padding-left: 80%;
  background-color: #3f51b5; 
}

.mdl-cell {
  margin: 0px;
}

.mdl-button--icon {
  height: 40px;
  margin-left: 80%;
  margin-top: 6%;
  min-width: 32px;
  width: 32px;
  color: white;
  background-color: #3f51b5;
}

.mdl-button--icon:hover {
  box-shadow: none;
  color: white;
  background-color: #3f51b5;
}
