.avatar {
  width: 50px;
  height: 50px;
  background-size: cover;
  display: inline-block;
  border-radius: 140px;
  -webkit-border-radius: 140px;
  -moz-border-radius: 140px;
  margin-right: 9px;
}

.brownbag-view {
  background-color: whitesmoke
}

.user-info {
  display: inline-grid;
}

.skipped-brown-bag {
  vertical-align: middle;
  background-color: lightgrey;
}

.onlist-brown-bag {
  position: absolute;
  right: 0px;
  width: 300px;
  background-color: whitesmoke;
}

.onlist-title {
  text-align: center;
  color: #222325;
  font-style: black;
}

.mdl-button {
  min-width: 200px;
  margin-left: 50px;
  color: white;
  background-color: dodgerblue;
}

.mdl-button:hover {
  color: white;
  background-color: dodgerblue;
  box-shadow: 3px 3px grey;

}

.material-icons {
  margin-right: 8px;
}

.shuffle-brown-bag {
  padding-top: 1px;
  padding-left: 25px;
  background-color: lightgrey;
  height: 180px;
}
