@import '../../styles/base/_variables.scss';

.navBar {
  background: $light-gray;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  height: 10vh;
  border-color: #fff;    
  div {
    margin-left: 1rem;
  }
  .rightItems {
    li {
    a:hover {
        color: $blue;
      }
      a {
        color: darken($dark-gray, 50%);
      }
    }
  }
}

.brand {
  margin-left: 12rem !important;
  img {
    display: inline-block;
    width: 10%;
  }
  span {
    color: darken($dark-gray, 50%);
    padding-left: 0.5rem;
  }
}
