@import '../../../styles/base/_variables.scss';

.userAvatar{
  max-height: 100%;
  max-width: 100%;
}

.user {
  height: 15%;
  background-color: $light-blue;
  margin-left: 7rem;
  > span {
    margin-left: 1rem;
    color: $light-gray;
    font-weight: 300;
    font-size: 1.5rem;
    display: inline-block;
    width: 46%;
  }
}
