@import '../../../styles/base/_variables.scss';

.shuffleContainer {
  width: 100%;
  height: 100%;
}

.shuffle {
  background: $light-gray;
  height: 100%;
  display: flex;
}

.brownBag {
  width: 35%;
  background: #fff;
  flex-grow: 2;
}

.leftNav {
  flex-grow: 1;
  width: 25%;
}

.ellipsis {
  color: $dark-gray;
  position: absolute;
  right: 5rem;
  background-color: $light-gray;
  padding: 1rem;
  border: none;
  >span {
    font-size: x-large;
  }

  // margin: 5rem 4rem 0;
}
