@import '../../../styles/base/_variables.scss';

.shuffleContainer {
  width: 100%;
}

.shuffle {
  background: #efeeec;
  // background: blueviolet;
  height: 86.3vh;
  display: flex;
}

.brownBag {
  width: 50vw;
  background: #fff;
  flex-grow: 2;
}

.leftNav {
  flex-grow: 1;
}

.ellipsis {
  >li {
    a {
      color: red;
    }
  }
  // margin: 5rem 4rem 0;
}
