.previousBrownBag {
  margin-top: 2rem;
  >h5 {
    color: black;
    margin: 4rem 8rem 1rem;
    font-weight: 1rem;
  }
  >span {
    display: block;
    color: #858482;
    margin: 1rem 8rem;
  }

}

.date {
  display: block;
  color: black;
  margin: 1rem 4rem;
}

.previousList {
  list-style: none;
  margin-left: 4rem;

  > li >img {
    margin: 1rem;
    border-radius: 50%;
    width: 11%;
  }
}
