.skippedBrownBag {
  background: #f9f9f9;
  border-bottom: 1px solid #e0e0e0;
}

.skippedList {
  list-style: none;
  margin-left: 2.3rem;
  padding: 2rem;

  >li  {
    display: flex;
    align-items: center;
    > img {
      margin: 1rem;
      width: 11%;
      border-radius: 50%;
      height: 11%;
    }
    >div {
      span:nth-child(1) {
        color: #8f8e8c;
      }
      span:nth-child(2) {
        display: block;
        color: #c6c5c3;
      }
    }
  }
}
