@import '../../../../styles/base/_variables.scss';

.upcomingBrownBag {
  border-bottom: 1px solid $dark-gray;
  
  h5 {
    color: darken($light-gray, 50%);
    margin: 4rem 4rem 1rem;
    font-weight: 300;
    font-size: 2rem;
  }
  span {
    display: block;
    color: lighten($dark-gray, 1%);
  }

}

.date {
  display: block;
  color: lighten($dark-gray, 1%);
  margin: 1rem 4rem;
}

.upcomingList {
  list-style: none;
  margin-left: 4rem;
  position: relative;

  li  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
      margin: 1rem;
      width: 11%;
      border-radius: 50%;
      height: 11%;
    }
    div {
      span:nth-child(1) {
        color: darken($light-gray, 50%);
        font-weight: 400;
      }
      span:nth-child(2) {
        display: block;
        color: lighten($dark-gray, 1%);
      }
    }
  }
}

.confirmButton {
  position: absolute;
  right: 20%;
  margin-right: 2%;
}

.cancelButton {
  position: absolute;
  left: 80%;
}
