.upcomingBrownBag {
  // 
  border-bottom: 1px solid #e0e0e0;
  
  >h5 {
    color: #7f8180;
    margin: 4rem 4rem 1rem;
    font-weight: 300;
    font-size: 2.5rem;
  }
  >span {
    display: block;
    color: #858482;
  }

}

.date {
  display: block;
  color: #858482;
  margin: 1rem 4rem;
}

.upcomingList {
  list-style: none;
  margin-left: 4rem;
  position: relative;

  >li  {
    display: flex;
    align-items: center;
    > img {
      margin: 1rem;
      width: 11%;
      border-radius: 50%;
      height: 11%;
    }
    >div {
      span:nth-child(1) {
        color: #8f8e8c;
      }
      span:nth-child(2) {
        display: block;
        color: #c6c5c3;
      }
    }
  }
}

.confirmButton {
  margin: 1rem;
  position: absolute;
  right: 15rem;
}

.cancelButton {
  margin: 1rem;
  position: absolute;
  right: 4rem;
}
