// @import '../../styles/base/variables.scss';

.previousBrownBag {
  border-bottom: 1px solid $dark-gray;
  h5 {
    color: darken($light-gray, 50%);
    margin: 4rem 4rem 1rem;
    font-weight: 200;
    font-size: 2rem;
  }

}

.date {
  display: block;
  color: lighten($dark-gray, 1%);
  margin: 1rem 4rem;
}

.previousList {
  list-style: none;
  margin-left: 4rem;

  li {
    position: relative;
    img {
      margin: 1rem;
      border-radius: 50%;
      width: 11%;
    }

    span {
      color: darken($light-gray, 55%);
      font-weight: 500;
    }

  }
}

.okCircle {
  position: absolute;
  border: none;
  right: 8%;
  span {
    font-size: x-large;
  }
}
